*   {
    text-decoration: none;
}

body    {
    margin: 0 auto;
    padding: 0;
    font-family: "Bebas Neue",cursive;
    background-color: rgba(81, 78, 68, 0.128);
}
/** Flex Use Order: 1. Display: Flex; 2. Flex-Direction: DECIDE; 3.Flex-Wrap: DECIDE; 4. Jusitfy-content: DECIDE; 5a. Align-items: DECIDE; Can also use 5b. Align-content: DECIDE; **/

/** NAVIGATION BAR CSS AND DESIGN CODE**/
header nav  {
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height:100px;
    width: 100%;
    /*position: fixed;*/
}

.logo   {
    cursor: pointer;
    height: auto;
    width: 100px;
}

.main_navigation_container ul li a  {
    list-style: none;

    padding-right: 20px;
    transition:  all 0.3s ease 0s;
}

.main_navigation_container li   {
    display: inline-block;
    padding: 0px 20px;
    font-size: 30px;
}

.main_navigation_container ul li a:hover  {
    color: rgba(51, 156, 205, 0.852);
}

.main_navigation_container button   {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:  all 0.3s ease 0s;
}

.main_navigation_container button:hover   {
    cursor: pointer;
    background-color: rgba(0,136,169,0.8);
    transition:  all 0.3s ease 0s;
}
/** NAVIGATION BAR CSS AND DESIGN CODE**/

/**Design Formatting of content of the page**/

H1   {
    font-size: 50px;
    margin-top: 0;
    align-self: center;
    height: 10px;
}

.articlesection , .Intro {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


/**Design Formatting of content of the page**/


/** Footer/Copyright Agreement of the page**/

footer  {
    align-self: flex-end;
    height: fit-content;
    padding-top: 60px;
    position: fixed;
    bottom: 0;
    height: auto;
    width: 100%;
}

footer a    {
    margin-top: 0;
}

footer  p   {
    height: 10%;
}

footer a, footer p  {
        display: flex;
        flex-direction: column;
        align-items: center;
}


/** Footer/Copyright Agreement of the page**/